# Ignore obsidian log files
Forensics_notebook/.obsidian

.obsidian/*

# Ignore files under the excalidraw folder and canvas- for safety and compatibility
Excalidraw/
Forensics_notebook/Excalidraw
*.canvas