# Ignore obsidian log files
Forensics_notebook/.obsidian

.obsidian/*

# Ignore files under the excalidraw folder and canvas- for safety and compatibility
Excalidraw/
Forensics_notebook/Excalidraw
*.canvas

Forensics_notebook/.vscode/c_cpp_properties.json
Forensics_notebook/.vscode/settings.json
Forensics_notebook/.vscode/launch.json
